html,body{
    margin:0;
    padding:0;
    height:100%;
}

html{
   
}
body {
  padding-top: 50px;
  background-color:darkgray;
}
form{
    height:100%;
}
.navBarLogo{
    height:30px;
    background-color:white;
    margin-top:10px;
    border-radius:18%;
    float:left;
    margin-right: 8px;
}
/*Front Page*/



.slider {
    width: 800px;
    max-width:100%;
    height: 400px;
    overflow: hidden;
    position: relative;
    background: #e6e6e6;
    border: 20px solid #FFF;
    margin-top: 20px;
}

.slide {
    position: absolute;
    top: 0;
    left: 0;
     height: 100%;
    width: 80%;
    left:75px;
}




.slideDescription{
    position:absolute;
    height:15%;
    width:80%;
    left:10%;
    bottom:30px;
    color:white;
    margin-top:0;
    z-index:1003;
    word-wrap:normal;
}


/*---------------------------------------------------------
NAV
---------------------------------------------------------*/
.arrow {
    position: absolute;
    z-index: 1;
    display: block;
    top: 50%;
    margin-top: -35px;
    width: 36px;
    height: 71px;
    outline: none;
    cursor: pointer;
    background: url(../assets/img/blank.gif) no-repeat;
}

.arrow.prev {
    opacity: 0.5;
    left: 20px;
    background-image: url(../assets/img/paddle_prev_999.png);
    transition: 0.2s linear all;
}

.arrow.next {
    opacity: 0.5;
    right: 20px;
    background-image: url(../assets/img/paddle_next_999.png);
    transition: 0.2s linear all;
}

.arrow.prev:hover {
    opacity: 1;
    background-image: url(../assets/img/paddle_prev_fff.png);
}

.arrow.next:hover {
    opacity: 1;
    background-image: url(../assets/img/paddle_next_fff.png);
}

.navPannelLeft{
    position:absolute;
    top:0;
    left:0;
    height:100%;
    width:76px;
    background-color:black;
    float:left;
    opacity:.5;
}
.navPannelRight{
    position:absolute;
    top:0;
    right:0;
    height:100%;
    width:76px;
    background-color:black;
    opacity:.5;
    
}

.navPannelLeft, .navPannelRight {
  -webkit-transition:all linear .4s;
  transition:all linear .4s;
}

.navPannelLeft.ng-hide, .navPannelRight.ng-hide {
  opacity:0;
}

.navFront {
    text-align: center;
    position: absolute;
    z-index: 1002;
    bottom: -4px;
    width:80%;
    left:10%;
    height: 100px;
    background: -webkit-linear-gradient(rgba(25, 0, 0, 0),rgba(118, 118, 118, 1)); /*Safari 5.1-6*/
    background: -o-linear-gradient(rgba(255, 0, 0, 0), rgba(118, 118, 118, 1)); /*Opera 11.1-12*/
    background: -moz-linear-gradient(rgba(255,0,0,0), rgba(118, 118, 118, 1)); /*Fx 3.6-15*/
    background: linear-gradient(rgba(255,0,0,0), rgba(118, 118, 118, 1)); /*Standard*/
}

.nonDraggableImage{
    -webkit-user-drag: none;
}

.navFront .wrapper {
    margin: 0 auto;
    width: 100%;
    padding: 1em 0 .8em;
}

.navFront ul {
    margin: 0;
    width: 100%;
}

.navFront .dot, .nav .dot a {
    display: inline-block;
    zoom: 1;
}

.dots .dot {
    position: relative;
    margin: 0 8px;
    width: 12px;
    height: 12px;
}

.dots .dot a {
    position: absolute;
    top: 63px;
    left: 2px;
    width: 6px;
    height: 6px;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    background: #FFF;
    border: 1px solid white;
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    -webkit-transition: background-color 0.25s, border-color 0.25s;
    -moz-transition: background-color 0.25s, border-color 0.25s;
    transition: background-color 0.25s, border-color 0.25s;
}

.dots .dot a.active {
    border-color: #FFF;
    background-color: transparent;
    border: 1px solid white;
}


/*End NAV*/
/*End front page*/

/*Cart*/
.removeItem {
    margin:1px;
    margin-left:5px;
    margin-right:5px;
    position:relative;
    float:right;
    -moz-box-shadow:inset 0 1px 0 0 #f29c93;
    -webkit-box-shadow:inset 0 1px 0 0 #f29c93;
    box-shadow:inset 0 1px 0 0 #f29c93;
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #fe1a00), color-stop(1, #ce0100) );
    background:-moz-linear-gradient( center top, #fe1a00 5%, #ce0100 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fe1a00', endColorstr='#ce0100');
    background-color:#fe1a00;
    -webkit-border-top-left-radius:4px;
    -moz-border-radius-topleft:4px;
    border-top-left-radius:4px;
    -webkit-border-top-right-radius:4px;
    -moz-border-radius-topright:4px;
    border-top-right-radius:4px;
    -webkit-border-bottom-right-radius:4px;
    -moz-border-radius-bottomright:4px;
    border-bottom-right-radius:4px;
    -webkit-border-bottom-left-radius:4px;
    -moz-border-radius-bottomleft:4px;
    border-bottom-left-radius:4px;
    text-indent:0;
    display:inline-block;
    color:#ffffff;
    font-family:Arial,serif;
    font-size:10px;
    font-weight:bold;
    font-style:normal;
    height:15px;
    line-height:15px;
    width:15px;
    text-decoration:none;
    text-align:center;
    text-shadow:1px 1px 0 #b23e35;
}
.removeItem:hover {
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ce0100), color-stop(1, #fe1a00) );
    background:-moz-linear-gradient( center top, #ce0100 5%, #fe1a00 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ce0100', endColorstr='#fe1a00');
    background-color:#ce0100;
    cursor: pointer;
}.removeItem:active {
     position:relative;
     top:1px;
 }

 /*Finalize.aspx*/
 .totalsRight{
     position:absolute;
     right:0;
 }
